In [8]:
#Testing the print statement
x="great"
print "Satish is " + x

Satish is great

In [4]:
#Variable assignment
a,b,c="Satish",4,"Hello"
print a
print b
print c

Satish
4
Hello

In [11]:
#Global Variable 
x=4
def fun():
    x=5
    print x
fun()
print x

5
4

In [21]:
#Data Types
x=50
y="satis"
print type(x)
print type(y)
z=float(x)
print z
#Random Numbers
import random 
print random.randrange(1,10)

<type 'int'>
<type 'str'>
50.0
2

In [42]:
#string operations
a="Habitual Pepetrstor"
print a[9:15]
#string methods
print len(a)
print a.lower()
print a.upper()
print a.replace("a","b")
#The split method
y="happy,birthday"

Pepetr
19
habitual pepetrstor
HABITUAL PEPETRSTOR
Hbbitubl Pepetrstor

In [41]:
a="what the"
y="satish" in a
print y

False

In [47]:
#bool data type
print 10<9
print bool("")

False
False

In [2]:
#Collections 1. Lists-ordered and changeable and allows duplicates
first_list=["my","name","is","satish"]
print first_list[0:4]#accessing individual items
print first_list[-3]#negative indexes
#changing values in a list
Second_list=["first","second","third"]
#Second_list[0]="1st"
print Second_list

['my', 'name', 'is', 'satish']
name
['first', 'second', 'third']

In [9]:
#list methods and operations
list1=["I","am","ok"]
print len(list1)
list1.append("with")
list1.insert(0,"dude")
list1.remove("with")
list1.pop(0)
for x in list1:
    print x

3
I
am
ok

In [8]:
#Tuples--Once Tuple is created you cannot change it
Tuple1=("Satish","Kumar","My","Man")
List_convert=list(Tuple1)
print List_convert
print len(List_convert)
for x in Tuple1:
    print x
print Tuple1[-1]

['Satish', 'Kumar', 'My', 'Man']
4
Satish
Kumar
My
Man
Man

In [11]:
T1=("Satish","Kumar")
T2=("Hero","Hai")
T3=T1+T2
print T3

('Satish', 'Kumar', 'Hero', 'Hai')

In [18]:
#Sets
S1={"a","b",4,5}
S1.add("satish")
S1.update(["Kumar","Mast","Admi"])
S1.remove("Mast")
for x in S1:
    print x
S2={1,2,3}
S3=S1.union(S2)
print S3

a
Kumar
satish
b
4
5
Admi
set(['a', 'Kumar', 'satish', 'b', 4, 5, 3, 1, 2, 'Admi'])

In [29]:
#Dictionaries
dict1={"Name":"Satish","Desig":"Data Guy"}
for x in dict1:
    print dict1[x]
x=dict1.get("Name","Desig")
print x

Data Guy
Satish
Satish

In [6]:
#using for loop to list labels
dict2={"Name":"Satish","Employee_ID":2261}
dict2["Age"]=27
for x in dict2.values():
    print x 
print len(dict2)
if "Name" in dict2:
    print ("name is there")
else:
    print ("name not there")
for x in dict2:
    print x
#getting the values
dict3={"Name":"Manish","EMP_ID":555}
for x in dict3.values():
    print x

27
2261
Satish
3
name is there
Age
Employee_ID
Name
555
Manish

In [3]:
#Display values of labels
dict3={"Name":"Apurba",
       "Company":"Delloitte"}
for x in dict3:
    print dict3[x]

Delloitte
Apurba

In [4]:
#Why does the dict values appear in the wrong order
#It is because of the way dicts are organized internally.In short, this works via a hash-table which puts the keys into buckets according to their hash() value.
dict4={"firstname":"Jorden","lastname":"Schimick"}
for x,y in dict4.items():
    print(x,y)

('lastname', 'Schimick')
('firstname', 'Jorden')

In [17]:
#While Loop
i=1
j=6
while i<=10:
    print i*j
    i+=1

6
12
18
24
30
36
42
48
54
60

In [14]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [24]:
#for loop with break statement
alphabets=["a","b","c","d"]
for x in alphabets:
    print x
    if x=="c":
        break

a
b
c

In [28]:
#for loop with continue statement
alpha=["q","w","e"]
for x in alpha:
    if x=="e":
        continue
    print x

q
w

In [33]:
#Range Function
#for x in range(7):
    #print x
for x in range(2,7):
    print x

2
3
4
5
6

In [34]:
for x in range(1,50,4):
    print x

1
5
9
13
17
21
25
29
33
37
41
45
49

In [36]:
a1=[1,2,3]
a2=[4,5]
for x in a1:
    for y in a2:
        print x*y

4
5
8
10
12
15

In [41]:
#Functions 
def first_function():
    print "first function"

first_function()

first function

In [45]:
#functions with argument
def fun_argu(fname):
    print fname+" kumar"

fun_argu("Satish")

Satish kumar

In [48]:
def twoargs(fname,lastname):
    print fname +" "+ lastname
twoargs("Satish","Kumar")

Satish Kumar

In [50]:
def fun(number,num1):
    print number *num1 
fun(2,2)

4

In [52]:
def fun1(*number):
    print number[0]*number[1]

fun1(2,3)

6

In [53]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [56]:
lis=[1,2,3]
def fu(lu):
    for x in lu:
        print x
fu(lis)

1
2
3