In [2]:
string='Twilight'

In [3]:
type(string)

str

In [4]:
len(string)

8

In [9]:
string[1:5]
string[2:]

'ilight'

In [11]:
string[:6]

'Twilig'

In [22]:
string[-1:1]

''

In [23]:
for i in string:
    print(i)

T
w
i
l
i
g
h
t

In [24]:
string[::-1]

'thgiliwT'

In [41]:
string='Twilight'
for i in range(len(string),2,-1):
    print(string)

Twilight
Twilight
Twilight
Twilight
Twilight
Twilight

In [46]:
string='Twilight'
for i in range(1,len(string)+1):
    print(string[-i])

t
h
g
i
l
i
w
T

In [48]:
string[-1:-8]

''

In [49]:
len(string)

8

In [59]:
a="This is a string"
a.split(" ")

['This', 'is', 'a', 'string']

In [60]:

a="-".join(a)
print (a)

T-h-i-s- -i-s- -a- -s-t-r-i-n-g

Write a program to print every character of a string entered by user in a new line using loop.

In [2]:
a=raw_input()
for i in a:
    print(i)

Titanic
T
i
t
a
n
i
c

Write a program to find the length of the string "refrigerator" without using len function

In [3]:
a="refrigerator" 
count=0
for i in a:
    count+=1
print (count)

12

Write a program to check if the letter 'e' is present in the word 'Umbrella'.

In [4]:
a="Umbrella"
if "e" in a:
    print("The string has e in it")

The string has e in it

In [ ]:
a="Umbrella"
for i in a:

In [9]:
greeting = "Hello world"

greeting[:2]+"L"+greeting[3:]

'HeLlo world'

In [15]:
greeting = "Hello world"
len(greeting)
greeting[:7]+"O"+greeting[8:]

'Hello wOrld'

In [33]:
greeting = "Hello world"
greeting.find("l",6,10)

9

In [58]:
a="...satish..."
a.strip(".")

'satish'

Write a program to find the first and the last occurence of the letter 'o' and character ',' in "Hello, World"

In [34]:
greeting = "Hello world"
greeting.find("o",6,10)

7

For example, if we were presented a series of lines formatted as follows:

From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008
and we wanted to pull out only the second half of the address (i.e., uct.ac.za)

In [59]:
l="From stephen.marquard@uct.ac.za Sat Jan 5 09:14:16 2008"
l[l.find("@")+1:l.find(" ",l.find("@"))]

'uct.ac.za'