In [3]:
import numpy as np
l1=[1,2,3,4,5]
x=np.array(l1)
x
type(x)

numpy.ndarray

In [7]:
#arange function
import numpy as np
y=np.arange(1,26,1)
y

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25])

In [9]:
a=np.arange(10,0,-1)
a

array([10,  9,  8,  7,  6,  5,  4,  3,  2,  1])

In [13]:
#Create a regular sequence of even integers between 10 to 20
a=np.arange(10,20,2)
a

array([10, 12, 14, 16, 18])

In [16]:
#Create a regular sequence of the following type: [10.0,10.5,11.0,11.5, ... , 19.5, 20.0]
a=np.arange(10,20.5,0.5)
a

array([10. , 10.5, 11. , 11.5, 12. , 12.5, 13. , 13.5, 14. , 14.5, 15. ,
       15.5, 16. , 16.5, 17. , 17.5, 18. , 18.5, 19. , 19.5, 20. ])

In [19]:
#Create a regular sequence of length 20 ranging from 0 to 5
np.linspace(start=0,stop=5,num=30,endpoint=True)

array([0.        , 0.17241379, 0.34482759, 0.51724138, 0.68965517,
       0.86206897, 1.03448276, 1.20689655, 1.37931034, 1.55172414,
       1.72413793, 1.89655172, 2.06896552, 2.24137931, 2.4137931 ,
       2.5862069 , 2.75862069, 2.93103448, 3.10344828, 3.27586207,
       3.44827586, 3.62068966, 3.79310345, 3.96551724, 4.13793103,
       4.31034483, 4.48275862, 4.65517241, 4.82758621, 5.        ])

In [4]:
#Generate 20 random numbers between 1 and 100
import math
import numpy as np
num=np.random.randint(1,500,20)
num

array([182, 159, 419,  28,  47, 205, 310,  39, 272, 383, 442,   2,  86,
       471, 430, 179,  51, 109, 430, 395])

In [3]:
import math
import numpy as np
n=np.random.random(20)
n

array([0.45768594, 0.46373335, 0.11260671, 0.83053448, 0.17372129,
       0.51335776, 0.93495714, 0.5793739 , 0.79395534, 0.68980884,
       0.67883362, 0.1202067 , 0.0953433 , 0.02843863, 0.4604534 ,
       0.574347  , 0.02639248, 0.26555601, 0.48220513, 0.24165027])

In [6]:
l=[443,465,888,99]
a=np.array(l)
np.random.shuffle(a)
a

array([888, 465, 443,  99])

In [12]:
np.random.choice(l)#to choose random number from a list

99

In [13]:
np.random.choice(l,4)#to choose 4 random numbers from a list

array([888, 465, 888, 443])

In [38]:
np.random.choice(a,2)#input an array

array([99, 99])

In [51]:
#Permute x and return it
l=[443,465,888,99]
np.random.permutation(2)
l

[443, 465, 888, 99]

In [91]:
a=np.arange(0,9,1).reshape(3,3)
np.random.permutation(a)

array([[3, 4, 5],
       [6, 7, 8],
       [0, 1, 2]])

In [87]:
#methods in numpy
x = np.array([221,312,456,313])
x.size
x.dtype

dtype('int32')

In [93]:
x = np.array([221,312,456.0,313])#array stores only type of data
x.dtype

dtype('float64')

In [95]:
x = np.array([221,312,456.0,313])
x.astype(str)#converts array elements to mentioned data type

array(['221.0', '312.0', '456.0', '313.0'], dtype='|S32')

In [5]:
x = np.array([12,34,24,45,7,18])
y = np.array([3,6,8,5,1,10])

In [6]:
x+y

array([15, 40, 32, 50,  8, 28])

In [7]:
x-y

array([ 9, 28, 16, 40,  6,  8])

In [8]:
x/y

array([4, 5, 3, 9, 7, 1])

In [9]:
2*y#multiplication by a scaler

array([ 6, 12, 16, 10,  2, 20])

In [10]:
x.dot(y)

844

In [11]:
x*y

array([ 36, 204, 192, 225,   7, 180])

In [12]:
np.sum(x*y)

844

In [14]:
x=np.array([2,4,9,61])
np.sqrt(x)

array([1.41421356, 2.        , 3.        , 7.81024968])

In [15]:
x=np.array([2,4,9,61])
np.log(x)

array([0.69314718, 1.38629436, 2.19722458, 4.11087386])

In [16]:
x=np.array([2,4,9,61])
np.square(x)

array([   4,   16,   81, 3721])