In [2]:
import pandas as pd
import os
os.getcwd()

'C:\\Users\\ASUS\\Desktop\\Python'

In [3]:
os.chdir(r'C:\Users\ASUS\Desktop\Python Sessions')
os.getcwd()

'C:\\Users\\ASUS\\Desktop\\Python Sessions'

In [4]:
i=pd.read_csv('cars.csv')
i.head(10)

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US
5,Ford Galaxie 500,15.0,8,429.0,198,4341,10.0,70,US
6,Chevrolet Impala,14.0,8,454.0,220,4354,9.0,70,US
7,Plymouth Fury iii,14.0,8,440.0,215,4312,8.5,70,US
8,Pontiac Catalina,14.0,8,455.0,225,4425,10.0,70,US
9,AMC Ambassador DPL,15.0,8,390.0,190,3850,8.5,70,US

In [6]:
i.shape

(406, 9)

In [7]:
len(i)#to get number of rows

406